
click
colorama
contourpy
cycler
dill
Flask
fonttools
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
-e git+https://github.com/Ayush866/Ineuron-Intership-Project.git@c438bfa3e68ef3a33148934851407fb72877fd1b#egg=mlproject
numpy
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
threadpoolctl
Werkzeug
wincertstore
zipp
Gunicorn