
click
colorama
contourpy
cycler
dill
Flask
fonttools
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
threadpoolctl
Werkzeug
wincertstore
zipp
Gunicorn
-e .